<html>
  <head>
    <title>Homepage</title>
  </head>
  <body>

    <%- include('navbar', {links: links}) %>
    <%= message %>

    <ul>
      <% users.forEach((user) => { %>
        <%- include('users', {user: user}); %>
      <% }); %>
    </ul>

  </body>
</html>