<html>
  <head>
    <title>Add a new message</title>
  </head>
  <body>

    <h1>Add a new message</h1>
    <form method="POST" action="/new">
        <label for="name">Name:</label><br>
        <input type="text" name="name"><br>
        <label for="message">Message:</label><br>
        <input type="text" name="message"><br>
        <input type="submit" value="Post">
    </form>
    
  </body>
</html>